################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/TLRPResourceEditor/v14/.suo
/TLRPResourceEditor/TLRPResourceEditor.csproj.DotSettings.user
/TLRPResourceEditor/TLRPResourceEditor.csproj.user
/packages
/TLRPResourceEditor/bin/Debug
/TLRPResourceEditor/obj/Debug
